*{
    margin: 0px;
    padding: 0px;
}

#con{
    width: 100%;
    height: 100vh;
    background-color:violet;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#con1{
    width: 95%;
    height: 40vh;
    /* background-color:cornflowerblue; */
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#con2{
    width: 100%;
    height: 30vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content:space-evenly;
}
#con21{
    width: 48%;
    height: 100%;
    display: flex;
    /* background-color:cornflowerblue; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#con22{
    width: 48%;
    height: 100%;
    display: flex;
    /* background-color: cornflowerblue; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
video{
    width: 100%;
    height: 100%;
}
img{
    width: 94%;
    height: 95%;
    border-radius: 60px;
}
#con3{
    width: 100%;
    height: 25vh;
    /* background-color: brown; */
    display: flex;
   
    align-items: center;
    justify-content: center;

}
#con31{
    width: 90%;
    height: 22vh;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 15%;
}
p{
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 100%;
    color:midnightblue;
}